@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cols: 10;
  --rows: 20;
  --tile-size: 20px;
}

div[role='alert'] button {
  color: #666 !important;
}

div[role='alert'] button:hover {
  border: 2px solid black;
}
